<!doctype html>
<html lang="pt-br">

<head>
    
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/estilos.css">

    <title>Farmacia Online :: Página Principal</title>
</head>

<body>
    {{{body}}}
</body>

</html>